{{ansible_managed}}
{% for k, v in (celeryd_default_env|combine(item.environment|default({}))).items()|sort %}
{% if '__omit_place_holder__' not in v|string %}
{{k}}={{v}}
{% endif %}
{% endfor %}
{% if item.multi is defined %}
CELERY_MULTI_START='multi start'
CELERY_MULTI_STOP='multi stop'
CELERY_MULTI_RESTART='multi restart'
{% endif %}
