{{ansible_managed}}
{% if item.environment is defined %}
{% for k, v in (celeryd_default_env|combine(item.environment)).items()|sort %}
{{k}}='{{v}}'
{% endfor %}
{% else %}
{% for k, v in celeryd_default_env.items()|sort %}
{{k}}='{{v}}'
{% endfor %}
{% endif %}
