[Unit]
Description=Celery Service
After=network.target

[Service]
{% if item.multi is defined -%}
Type=forking
{% endif %}
User={{celery_user}}
Group={{celery_user}}
EnvironmentFile={{celery_env_dir}}/{{item.name}}
WorkingDirectory={{celery_working_dir}}
ExecStart=/bin/sh -c '${CELERY_BIN} ${CELERY_MULTI_START} ${CELERYD_NODES} -A ${CELERY_APP} ${CELERYD_OPTS}'
{% if item.multi is defined -%}
ExecStop=/bin/sh -c '${CELERY_BIN} ${CELERY_MULTI_STOP} ${CELERYD_NODES} ${CELERYD_OPTS}'
ExecReload=/bin/sh -c '${CELERY_BIN} ${CELERY_MULTI_RESTART} ${CELERYD_NODES} -A ${CELERY_APP} ${CELERYD_OPTS}'
{% endif %}

[Install]
WantedBy=celery.target
